replicaCount: 1

image:
  repository: ghcr.io/piotr1215/httproute-controller
  pullPolicy: IfNotPresent
  tag: ""  # Overrides the image tag whose default is the chart appVersion

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL

resources:
  limits:
    cpu: 500m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi

leaderElection:
  enabled: true

healthProbe:
  port: 8081

metrics:
  enabled: true
  port: 8443
  service:
    type: ClusterIP
    port: 8443

nodeSelector: {}

tolerations: []

affinity: {}
